body {
    margin: 0;
}

#header {
    background-color: #022859;
    color: rgb(191, 184, 186);
    text-align: center;
    padding: 10px 20px;
}

#titulo-unison {
    font-size: 50px;
    color: #F2EA79;
    font-weight: bold;
    text-shadow: 2px 2px 5px #f2DF80;
    font-family: 'Georgia', serif;
}

#titulo-pagina {
    font-size: 20px;
    color: #BFB8BA;
    font-style: italic;
    font-family: 'Georgia', serif;
}


